<head>
	<link href="http://gmpg.org/xfn/11" rel="profile">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	
	<meta name="google-adsense-account" content="ca-pub-9277369674468174">
	
	<title>
	{% if page.title == "Home" %}
	  {{ site.title }} &middot; {{ site.tagline }}
	{% else %}
	  {{ page.title }} &middot; {{ site.title }}
	{% endif %}
	</title>

	{% if page.url and site.baseurl %}
	<link rel="canonical" href="{{ page.url | absolute_url }}">
	{% endif %}

	<link rel="stylesheet" href="{{ '/assets/css/poole.css' | absolute_url }}">
	<link rel="stylesheet" href="{{ '/assets/css/syntax.css' | absolute_url }}">
	<link rel="stylesheet" href="{{ '/assets/css/lanyon.css' | absolute_url }}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">

	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ '/assets/apple-touch-icon-precomposed.png' | absolute_url }}">
	<link rel="shortcut icon" href="{{ '/assets/favicon.ico' | absolute_url }}">

	<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ '/atom.xml' | absolute_url }}">

    <div class="language-switch-container">
		<span class="language-switch" onclick="switchLanguage('en');">English</span>
		<span class="language-switch" onclick="switchLanguage('ko');">한국어</span>
    </div>
	
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }
		.language-switch-container {
			position: fixed;
			top: 3px;
			right: 3px;
			padding: 10px;
			z-index: 1000;
		}
		.language-switch {
			cursor: pointer;
			font-size: 14px;
			margin-right: 5px;
		}
		.language-switch:not(:last-child):after {
			content: " | ";
			margin-left: 5px;
		}
    </style>

	<script>
	  function switchLanguage(lang) 
	  {
		var supportedLangs = ['ko', 'ja', 'es']; 
		var currentPath = window.location.pathname;
		
		// Creating a regular expression to remove the language code.
		// (e.g: '/ko/', '/ja/', '/es/')
		var langRegex = new RegExp('/(' + supportedLangs.join('|') + ')/');
		// Extracting the base path (removing the language code)
		var basePath = currentPath.replace(langRegex, '/');

		// If the new language code isn't the default language ('en'),
		// add it in the front of the base path.
		if(lang !== 'en' && supportedLangs.includes(lang)) {
		  basePath = '/' + lang + basePath;
		}

		// Navigating to the page.
		window.location.pathname = basePath;
	  }
	</script>
</head>

