
<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox" checked>

<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>
  
  <nav class="sidebar-nav">
    {% assign count = 0 %}
	
    {% for nav in site.nav %}
      {% assign count = count | plus: 1 %}
      {% assign sub_len = nav[1] | size | minus: 1 %}
	  
	  <!-- Main menu -->
      <div class="sidebar-menu-item{% if sub_len > 0 %} has-submenu{% endif %}">
        <a class="sidebar-nav-item {% if page.url == nav[1][0] %}active{% endif %}" href="{{ nav[1][0] | prepend: site.baseurl }}">
          {{ nav[0] }}
        </a>
		
		<!-- Submenu checkbox -->
        {% if sub_len > 0 %}
		
          <input type="checkbox" id="list-item-{{ count }}" class="sidebar-submenu-checkbox" checked/>
          <label for="list-item-{{ count }}" class="folder"></label>
		  
		  <!-- Submenu -->
          <ul class="sidebar-nav-item-sub">
            {% for i in (1..sub_len) %}
              {% for sub_nav in nav[1][i] %}
				<a class="sidebar-nav-item {% if page.url == sub_nav[1] %}active{% endif %}" href="{{ sub_nav[1] | prepend: site.baseurl }}">
					{{ sub_nav[0] }}
				</a>
              {% endfor %}
            {% endfor %}
          </ul>
		  
        {% endif %}

      </div>
	  
    {% endfor %}
  </nav>

  <div class="sidebar-item">
    <p>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}.</p>
  </div>
</div>